NEXT_PUBLIC_SERVICEID=
NEXT_PUBLIC_TEMPLATEID=
NEXT_PUBLIC_PUBLICKEY=
NEXT_PUBLIC_URL=
NEXT_PUBLIC_SECRET=
AUTH0_SECRET="a long, randomly-generated string stored in env"
AUTH0_BASE_URL="http://localhost:3000"
AUTH0_ISSUER_BASE_URL="https://dev-oh0nnhvsmzueg0sy.us.auth0.com/"
AUTH0_CLIENT_ID="FbQXguRWjEK8OIRngz9lOBLONGCVocLz"
AUTH0_CLIENT_SECRET="PhwrAQujvpT3ZkRyzZ94BwAKSdVDreipxxyF4iNRL07EonUNakKjoqdfcGuQFilL"